<div class="cx-bradcaump-area sbg-4" data-black-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="bradcaump-wrap text-center">
                    <h2 class="bradcaump-title">ABOUT US</h2>
                    <nav class="bradcaump-inner">
                        <a class="breadcrumb-item" href="/">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb-item active">About Us</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start quality-area -->
<section class="cx-quality-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-7 col-xs-12  ptb-100 xsptb-60 smptb-70 mdptb">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title cx-section-title-3 text-left">
                            <h2 class="title-line">ABOUT US</h2>
                            <div class="about-detail"><b>ArtLi</b> is a software development company that offers different ways of cooperation to our clients. Depends on business goals of our clients we can offer offshore dedicated development team, fixed price or time and material model of cooperation. It does not matter which model is chosen, the development has individual approach towards project implementation and combines advanced technologies, creative thinking, innovations and tailoring its service to the world-class standards. Our company will become a reliable partner in helping you build, expand, and develop your business with better efficiency and a focus on result.</div>
                            @*<p class="about-detail">   There are many variations of passages of Lorem Ipsum available, but the majority have suffered alterat in someorm, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All of the  most LoremIpsum. </p>*@
                            <p>
                            <div class="about-detail"><b>Our mission</b> is to help our clients improve their business by providing high-quality development services, translating their needs and brilliant ideas into a technical solution that enhances cost-effectiveness.</div>
                            @*<p>generators on the Internet tend to repeat predefined chunks as necessary, making this the first true to generator on the Internet. It uses a dictionary of over 200 Latin words. combined with a handful of the model sentence structures, to generate. </p>*@
                            @*<div class="about-btn text-left">
                                <a href="#">learn More</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-5 col-xs-12">
                <div class="about-img-content">
                    <div class="about-img">
                        <img src="../../Content/images/team/sociedades-civiles.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End quality-area -->
<!-- Start funfact area -->
@Html.Partial("_Achievements")
    <!-- End funfact area -->
    <!-- Start About area -->
    <div class="cx-about-area ptb-100 white-bg cx-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="cx-about-leftside">
                        <img src="../../Content/images/about/1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7  col-lg-7 col-sm-12 col-xs-12">
                    <div class="cx-about-rightside">
                        <div class="cx-values">
                            <h3>Our company values are at the heart of everything we do</h3>
                            <p>We are a team of experienced mobile and web development professionals including UX/UI designer, PMs, QAs, and CRM specialists. We are passionate about our work and achieving better and timelier results with each new client by absorbing the best approaches:</p>
                            <i class="icofont icofont-star-shape"></i><span>People over processes</span><br>
                            <i class="icofont icofont-star-shape"></i><span>High quality</span><br>
                            <i class="icofont icofont-star-shape"></i><span>Strong relations</span><br>
                            <i class="icofont icofont-star-shape"></i><span>Exceed expectations</span>
                            </div>
                        <div class="cx-skill">
                            <h4>WHAT SETS US APART</h4>
                            <i class="icofont icofont-star-shape"></i><span><b>Our team</b> is our key for success. Artli employes the most talented and experienced specialists by offering them solid opportunities for career growth.</span><br>
                            <i class="icofont icofont-star-shape"></i><span><b>Assured quality</b> and timely delivery</span><br>
                            <i class="icofont icofont-star-shape"></i><span><b>Cross-industry experience</b> - Our team has created great solutions for different fields of business that include eLearning, Business Intelligence, CRMs, Security and fire systems etc.</span><br>
                            <i class="icofont icofont-star-shape"></i><span><b>Easy Communication</b> -  all our specialists have a good command of written and spoken English when dealing with any projects-related issues.</span>
                        </div>

        @*<div class="cx-skill">
    <h3>we have skills to show </h3>
    <div class="cx-skill-inner">
        <!-- Start single skill -->
        <div class="cx-single-skill">
            <p>Webesign</p>
            <div class="progress">
                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    <span class="pen-lable">90%</span>
                </div>
            </div>
        </div>
        <!-- End single skill -->
        <!-- Start single skill -->
        <div class="cx-single-skill">
            <p>Photoshop</p>
            <div class="progress">
                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    <span class="pen-lable">80%</span>
                </div>
            </div>
        </div>
        <!-- End single skill -->
        <!-- Start single skill -->
        <div class="cx-single-skill">
            <p>Illustrator</p>
            <div class="progress">
                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                    <span class="pen-lable">95%</span>
                </div>
            </div>
        </div>
        <!-- End single skill -->
        <!-- Start single skill -->
        <div class="cx-single-skill">
            <p>Indesign</p>
            <div class="progress">
                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                    <span class="pen-lable">75%</span>
                </div>
            </div>
        </div>
        <!-- End single skill -->
    </div>
                </div>*@
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- End About area   -->
<!-- Start brand area -->
<div class="cx-brand-area gray-bg ptb-35 cx-section">
    <div class="container">
        <div class="row">
            <div class="cx-brand-wrap clearfix">
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/1.png" alt="brand img"></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/2.png" alt="brand img"></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/3.png" alt="brand img"></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/4.png" alt="brand img"></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/5.png" alt="brand img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brand area -->
@Html.Partial("_ContactUs")