<div class="cx-bradcaump-area sbg-4" data-black-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="bradcaump-wrap text-center">
                    <h2 class="bradcaump-title">CONTACT US</h2>
                    <nav class="bradcaump-inner">
                        <a class="breadcrumb-item" href="index.html">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb-item active">CONTACT US</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start contact area -->
<div class="our-contact-form-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <div class="cx-address-wrap cx-address-wrap-2">
                    <div class="single-address single-address-2">
                        <div class="address-icon">
                            <i class="icofont icofont-ui-call"></i>
                        </div>
                        <div class="single-address-right">
                            <h4>Call Us</h4>
                            <p><a href="tel:14327895647">+ 1 432 789 5647</a></p>
                            <p><a href="tel:14327895673">+ 1 432 789 5673</a></p>
                        </div>
                    </div>
                    <div class="single-address single-address-2">
                        <div class="address-icon">
                            <i class="icofont icofont-envelope"></i>
                        </div>
                        <div class="single-address-right">
                            <h4>Your Message</h4>
                            <p><a href="mailto:info@alfresco.com">info@alfresco.com</a></p>
                            <p><a href="mailto:admin@alfresco.com">admin@alfresco.com</a></p>
                        </div>
                    </div>
                    <div class="single-address single-address-2">
                        <div class="address-icon">
                            <i class="icofont icofont-location-pin"></i>
                        </div>
                        <div class="single-address-right">
                            <h4>our location</h4>
                            <p>3756 Melrose place, Beverly hills <br> CA 87031, Australia</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start latest contact area -->
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-left">
                            <h2 class="title-line">leave A message</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cx-contact-form add-account">
                        <form action="mail.php" id="contact-form" method="POST">
                            <div class="cx-input-group clearfix mb-50">
                                <div class="single-cmnt-input name one-half mb-30 left">
                                    <input name="name" type="text" placeholder="Name">
                                </div>
                                <div class="single-cmnt-input email one-half right">
                                    <input name="email" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="single-cmnt-input Subject mb-50">
                                <input type="text" name="subject" placeholder="Subject">
                            </div>
                            <div class="single-cmnt-input message mb-60 xsmb-40">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="single-cmnt-input text-left">
                                <input type="submit" value="send message" class="cx-btn">
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            <!-- End latest contact area -->
        </div>
    </div>
</div>
<!-- End contact area -->
<!-- map area -->
<div class="map-contacts">
    <div id="googleMap"></div>
</div>