    <div id="cx-slider" class="cx-slider-area">
    <div class="cx-sliders slider-nd-style">
        <div class="single-slider height-100 sbg-3" data-black-overlay="4">
            <div class="slider-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slide-content text-center text-white pt-280 pb-100">
                                <h2>Welcome to ARTLI</h2>
                                <h2>Art to improve your business</h2><br><br>
                                <h1 class="cd-headline cx-heading clip">
                                    <span class="text-theme">
                                        <span class="cd-words-wrapper cd-words-wrapper-2">
                                            <b class="is-visible">PEOPLE OVER PROCESSES</b>
                                            <b>PROFESSIONAL TEAM</b>
                                            <b>EXCELLENT QUALITY</b>
                                            <b>UNIQUE SOLUTIONS</b>
                                        </span>
                                    </span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-down-btn"><a href="#our-service-area"><i class="icofont icofont-long-arrow-down"></i></a></div>
</div>

<div id="mobile-title">
    <section class="cx-section pt-100 pb-50 gray-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="">Welcome to ARTLI</h3>
                        <p>Art to improve your business</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- End of slider area -->
<!-- Start our srvice area -->
    <section id="our-service-area" class="cx-section pt-100 pb-50 gray-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="title-line">Our Services</h2>
                        <p>We endeavor to fully understand and be as close as possible to the requirements of our client. Our team of developers and QAs works in perfect sync to implement your idea and to provide you with the best solution that will achieve all your expectations.</p>
                    </div>
                </div>
            </div>
            <div class="cx-services clearfix">
                <div class="row equal">
                    <!--Start Single service -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 equal">
                        <div class="single-service">
                            <div class="service-inner">
                                <i class="icofont icofont-computer"></i>
                                <h3 class="service-title">Web development</h3>
                                <p>We provide a high-performing and perfectly designed web application, using the latest technologies and principles that allow to convert visitors into leads and deliver financially rewarding results.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single service -->
                    <!--Start Single service -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 equal">
                        <div class="single-service">
                            <div class="service-inner">
                                <i class="icofont icofont-iphone"></i>
                                <h3 class="service-title">Mobile application development</h3>
                                <p>We and our mobile applications developers are ready to provide a full cycle mobile development to improve your business. Atrli skillful team is ready to provide fast and stable solutions with a magnificent UI for great user experience.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single service -->
                    <!--Start Single service -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 equal">
                        <div class="single-service">
                            <div class="service-inner">
                                <i class="icofont icofont-light-bulb"></i>
                                <h3 class="service-title">MVP development</h3>
                                <p>With a help of our experts you can implement your idea with a bare minimum tech solutions and features but with all needed base functional that allows you to get the product to early customers as soon as possible.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single service -->
                    <!--Start Single service -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 equal">
                        <div class="single-service">
                            <div class="service-inner">
                                <i class="icofont icofont-keyboard"></i>
                                <h3 class="service-title">Software Product Development</h3>
                                <p>Product development services, provided by Artli are focused on software solutions for CRM, ERP, SCM. With the exceptional experience of our team in software development, we create solutions that fulfill business goals and support crucial working processes.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single service -->
                    <!--Start Single service -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 equal">
                        <div class="single-service">
                            <div class="service-inner">
                                <i class="icofont icofont-test-tube-alt"></i>
                                <h3 class="service-title">QA & testing</h3>
                                <p>Artli company provides quality-testing services for every product for our clients get a really high-quality software solution. Our services ensure that your applications will meet the requirements of performance and your expectations. Depending on your needs, we provide different services of testing from manual to automated testing.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single service -->
                    <!--Start Single service -->
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 equal">
                        <div class="single-service">
                            <div class="service-inner">
                                <i class="icofont icofont-support"></i>
                                <h3 class="service-title">Technical support</h3>
                                <p>Our technical team enables your applications to fulfill your business goals and help you deal with all maintenance and support challenges. We consult you and provide information about the best ways of launching and supporting the product at all steps.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single service -->
                </div>
            </div>
        </div>
    </section>
    <!-- Start our srvice area -->
    <!-- Start About area -->
    <div class="cx-about-area ptb-100 white-bg cx-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="cx-about-leftside">
                        <img src="../../Content/images/about/1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7  col-lg-7 col-sm-12 col-xs-12">
                    <div class="cx-about-rightside">
                        <div class="cx-about-info">
                            <h3>Services</h3>
                            <p>Artli provides services for software development, using a wide range of technologies and skills we can offer, but most of them are related to</p>
                        </div>
                        <div class="cx-skill">
                            <h3>Core Competencies</h3>
                            <div class="cx-skill-inner">
                                <!-- Start single skill -->
                                <div class="cx-single-skill">
                                    <p>.NET</p>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                            <span class="pen-lable">90%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single skill -->
                                <!-- Start single skill -->
                                <div class="cx-single-skill">
                                    <p>Javascript</p>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                            <span class="pen-lable">80%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single skill -->
                                <!-- Start single skill -->
                                <div class="cx-single-skill">
                                    <p>Java</p>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                            <span class="pen-lable">95%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single skill -->
                                <!-- Start single skill -->
                                <div class="cx-single-skill">
                                    <p>Ruby on Rails</p>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                            <span class="pen-lable">75%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single skill -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About area   -->
    <!-- start portfolio area   -->
@Html.Partial("_Portfolio")
    <!-- End portfolio area   -->
    <!-- Start funfact area -->
@Html.Partial("_Achievements")
    <!-- End funfact area -->
    <!-- Start team area -->
    <section class="cx-section our-team-area ptb-100 white-bg">
        <div class="container">
            <div class="row mb-40">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="title-line">MEET OUR TEAM</h2>
                        <p>Lorem ipsum dolor sit amet, no mollis regione accusamus qui. Legere voluptua mei an, possim aliquid utroque et ius, molestie maksu rez id sea. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cx-team-wrap clearfix">
                    <!-- Start single team -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 col-lg-3 col-sm-4 col-xs-12">
                        <div class="single-team">
                            <div class="cx-team-front">
                                <div class="team-thumb">
                                    <img src="../../Content/images/team/1.jpg" alt="">
                                </div>
                                <div class="team-front-title">
                                    <h4><a href="#">Emilia Harison</a></h4>
                                    <p>Email Writer</p>
                                </div>
                            </div>
                            <div class="cx-team-back">
                                <div class="cx-team-back-inner">
                                    <div class="global-table">
                                        <div class="global-cell">
                                            <div class="team-back-title">
                                                <h4><a href="#">Emilia Harison</a></h4>
                                                <p>Email Writer</p>
                                            </div>
                                            <div class="team-social">
                                                <ul>
                                                    <li><a href="#"><i class="icofont icofont-social-dribble"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-behance"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single team -->
                    <!-- Start single team -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <div class="single-team">
                            <div class="cx-team-front">
                                <div class="team-thumb">
                                    <img src="../../Content/images/team/2.jpg" alt="">
                                </div>
                                <div class="team-front-title">
                                    <h4><a href="#">Robert Donathan</a></h4>
                                    <p>Graphics Design</p>
                                </div>
                            </div>
                            <div class="cx-team-back">
                                <div class="cx-team-back-inner">
                                    <div class="global-table">
                                        <div class="global-cell">
                                            <div class="team-back-title">
                                                <h4><a href="#">Robert Donathan</a></h4>
                                                <p>Graphics Design</p>
                                            </div>
                                            <div class="team-social">
                                                <ul>
                                                    <li><a href="#"><i class="icofont icofont-social-dribble"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-behance"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single team -->
                    <!-- Start single team -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <div class="single-team">
                            <div class="cx-team-front">
                                <div class="team-thumb">
                                    <img src="../../Content/images/team/3.jpg" alt="">
                                </div>
                                <div class="team-front-title">
                                    <h4><a href="#">Camelia Mentol</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                            <div class="cx-team-back">
                                <div class="cx-team-back-inner">
                                    <div class="global-table">
                                        <div class="global-cell">
                                            <div class="team-back-title">
                                                <h4><a href="#">Camelia Mentol</a></h4>
                                                <p>Developer</p>
                                            </div>
                                            <div class="team-social">
                                                <ul>
                                                    <li><a href="#"><i class="icofont icofont-social-dribble"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-behance"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single team -->
                    <!-- Start single team -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 hidden-sm">
                        <div class="single-team">
                            <div class="cx-team-front">
                                <div class="team-thumb">
                                    <img src="../../Content/images/team/4.jpg" alt="">
                                </div>
                                <div class="team-front-title">
                                    <h4><a href="#">Remon Nelston</a></h4>
                                    <p>Copy Writer</p>
                                </div>
                            </div>
                            <div class="cx-team-back">
                                <div class="cx-team-back-inner">
                                    <div class="global-table">
                                        <div class="global-cell">
                                            <div class="team-back-title">
                                                <h4><a href="#">Remon Nelston</a></h4>
                                                <p>Copy Writer</p>
                                            </div>
                                            <div class="team-social">
                                                <ul>
                                                    <li><a href="#"><i class="icofont icofont-social-dribble"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-behance"></i></a></li>
                                                    <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single team -->
                </div>
            </div>
        </div>
    </section>
    <!-- End team area -->
   <!-- start contact  Area  -->
@Html.Partial("_ContactUs")