@{
    ViewBag.Title = "Portfolio";
}
<div class="cx-bradcaump-area sbg-4" data-black-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="bradcaump-wrap text-center">
                    <h2 class="bradcaump-title">Portfolio</h2>
                    <nav class="bradcaump-inner">
                        <a class="breadcrumb-item" href="/">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb-item active">portfolio</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start portfolio area -->
@Html.Partial("_Portfolio")
    <!-- start pagination -->
    @*<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="cx-pagination clearfix text-center mt-20">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="icofont icofont-rounded-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End pagination -->
    </section>*@
<!-- End portfolio area 
<!-- Start brand area -->
<div class="cx-brand-area gray-bg ptb-35 cx-section">
    <div class="container">
        <div class="row">
            <div class="cx-brand-wrap clearfix">
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/1.png" alt="brand img"></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/2.png" alt="brand img"></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/3.png" alt="brand img"></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/4.png" alt="brand img"></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="cx-sin-brand">
                        <a href="#"><img src="../../Content/images/brand/5.png" alt="brand img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brand area -->
<!-- start contact  Area  -->
@Html.Partial("_ContactUs")