  <div class="cx-section funfact-area ptb-100 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <div class="single-fact text-center">
                    <div class="fact-icon">
                        <i class="icofont icofont-wall-clock"></i>
                    </div>
                    <div class="fact-count">
                        <h2 class="count">1354</h2>
                    </div>
                    <p>hours worked</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <div class="single-fact text-center">
                    <div class="fact-icon">
                        <i class="icofont icofont-ui-user-group"></i>
                    </div>
                    <div class="fact-count">
                        <h2 class="count">32</h2>
                    </div>
                    <p>happy customers</p>
                </div>
            </div>
            @*<div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="single-fact text-center">
                    <div class="fact-icon">
                        <i class="icofont icofont-win-trophy"></i>
                    </div>
                    <div class="fact-count">
                        <h2 class="count">2354</h2>
                    </div>
                    <p>awards winned</p>
                </div>
            </div>*@
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 hidden-sm">
                <div class="single-fact text-center">
                    <div class="fact-icon">
                        <i class="icofont icofont-like"></i>
                    </div>
                    <div class="fact-count">
                        <h2 class="count">32</h2>
                    </div>
                    <p>complete projects</p>
                </div>
            </div>
        </div>
    </div>
</div>
