   <div class="our-contact-area cx-section ptb-100 bg-6" data-black-overlay="7">
    <div class="container">
        <div class="row mb-40">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="title-line">CONTACT US</h2>
                    <p>Interested in working together? Let’s get in touch. <br>Drop us a line in the form below, and we’ll reach out to you as soon as possible.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cx-contact-form">
                    <form action="#">
                        <div class="cx-input-group clearfix">
                            <div class="single-input name one-half left">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="single-input email one-half right">
                                <input type="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="single-input message">
                            <textarea placeholder="Message"></textarea>
                        </div>
                        <div class="single-input text-center">
                            <input type="submit" value="Send Message" class="cx-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cx-address-wrap clearfix mt-20">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="single-address text-center">
                        <i class="icofont icofont-location-pin"></i>
                        <h4>our location</h4>
                        <p>street<br>Kyiv, Ukraine, 01032</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="single-address text-center">
                        <i class="icofont icofont-social-skype"></i>
                        <h4>Skype Us</h4>
                        <p><a href="tel:14327895647">+ 1 432 789 5647</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="single-address text-center">
                        <i class="icofont icofont-envelope"></i>
                        <h4>Your Message</h4>
                        <p><a href="mailto:info@alfresco.com">info@alfresco.com</a></p>
                        <p><a href="mailto:admin@alfresco.com">admin@alfresco.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
