@model ArtliSite.Models.ContactModel
   <div class="our-contact-area cx-section ptb-100 bg-6" data-black-overlay="7">
    <div class="container">
        <div class="row mb-40">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="title-line">CONTACT US</h2>
                    <p>Interested in working together? Let’s get in touch. <br>Drop us a line in the form below, and we’ll reach out to you as soon as possible.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cx-contact-form">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                    {
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="cx-input-group clearfix mb-50">
                            <div class="single-input name one-half left form-group">
                                <input asp-for="Name" name="Name" type="text" placeholder="Name">
                                <span asp-validation-for="Name" class="text-muted"></span>
                            </div>
                            <div class="single-input email one-half right form-group">
                                <input asp-for="Email" name="Email" type="email" placeholder="Email">
                                <span asp-validation-for="Email" class="text-muted"></span>
                            </div>
                        </div>
                        <div class="single-input subject form-group">
                            <input asp-for="Subject" name="Subject" type="text" placeholder="Subject">
                            <span asp-validation-for="Subject" class="text-muted"></span>
                        </div>
                        <div class="single-input message form-group">
                            <textarea asp-for="Message" name="Message" placeholder="Message"></textarea>
                            <span asp-validation-for="Message" class="text-muted"></span>
                        </div>
                        <div class="single-input text-center">
                            <input type="submit" value="send message" class="cx-btn">
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cx-address-wrap clearfix mt-20">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="single-address text-center">
                        <i class="icofont icofont-location-pin"></i>
                        <h4>Our location</h4>
                        <p>1, Sportivnaya Sq<br>Kyiv, Ukraine, 01001</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="single-address text-center">
                        <i class="icofont icofont-social-skype"></i>
                        <h4>Skype Us</h4>
                        <p>artlisoft.info</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="single-address text-center">
                        <i class="icofont icofont-envelope"></i>
                        <h4>Your Message</h4>
                        <p><a href="mailto:info@artlisoft.com">info@artlisoft.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
