  <section class="cx-section pt-100 pb-70 white-bg cx-portfolio-wrap">
    <div class="container">
        <div class="row mb-35">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="title-line">awesome portfolio</h2>
                    <p>ArtLi provides a full range of software development services. <br> Our specialists can help you find business software solutions that will fit your business needs and the budget.</p>
                </div>
            </div>
        </div>
        <div class="row mb-50">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 text-center">
                <ul id="cx-filters" class="cx-port-filter-nav">
                    <li data-filter="*" class="is-checked">Business</li>
                    <li data-filter=".web">Web</li>
                    <li data-filter=".mobile">Mobile</li>
                    <li data-filter=".crm">CRM</li>
                    <li data-filter=".desktop">Desktop</li>
                    <li data-filter=".mvp">MVP</li>
                  </ul>
              </div>
          </div>
          <div class="row">
              <div class="cx-portfolio-inner clearfix">
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 mobile">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img style="border:2px solid black" src="../../Content/images/portfolio/mobile.png" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                 
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <p>
                                              iOS and Android applications for language school. The main purpose is to provide users with information about courses, trainings, oncoming events, enable to quickly schedule the lesson and enroll to courses and events.
                                              <br><b>Technologies: </b>C#, .NET WindowsForms, SQL
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                       </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 desktop">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/configurator.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <p>
                                              Our task was to automate the settings of fire alarm device. As a result we have created an app with user-friendly UI that allows configure fire device, using Virtual Com port.
                                              <br><b>Technologies: </b>C#, .NET WindowsForms, SQL
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 web mobile">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/itvdn.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <p>
                                              Platform for the organization of video training is built on the basis of Microsoft Azure Media Services. The solution allows controlling complete studying process.
                                              <br><b>Technologies: </b>C#, HTML5, Silverlight, Flash
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 web crm">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/gold.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <p>
                                              CRM automates business processes, among the possibilities are ordering the needed information, control of terms and tasks, planning of work with clients, transactions and accounts.
                                              <br><b>Technologies: </b>ASP.NET Core, EF, HTML5
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 desktop">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/videomaker.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <p>
                                              Video maker renders a video from the gallery of photos and music and allows you to share it in social networks or YouTube.
                                              <br><b>Technologies: </b> С#, WPF, T-SQL, API
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 web mobile mvp">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/platforma.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <p>
                                              Platform for selling products is created for high load performance and is MVP for our client. It has all needed features like client and admin parts and allows to manage the sales process.
                                              <br><b>Technologies: </b> ASP.NET MVC, Web Api, NHibernate
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
              </div>
          </div>
      </div>
  </section>
