  <section class="cx-section pt-100 pb-70 white-bg cx-portfolio-wrap">
    <div class="container">
        <div class="row mb-35">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="title-line">awesome portfolio</h2>
                    <p>Lorem ipsum dolor sit amet, no mollis regione accusamus qui. Legere voluptua mei an, possim aliquid utroque et ius, molestie maksu rez id sea. </p>
                </div>
            </div>
        </div>
        <div class="row mb-50">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 text-center">
                <ul id="cx-filters" class="cx-port-filter-nav">
                    <li data-filter="*" class="is-checked">Business</li>
                    <li data-filter=".webdesign">Web</li>
                    <li data-filter=".photography">Mobile</li>
                    <li data-filter=".branding">MVP</li>
                    @*<li data-filter=".video">Creative</li>*@
                  </ul>
              </div>
          </div>
          <div class="row">
              <div class="cx-portfolio-inner clearfix">
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 webdesign video">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/1.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <a href="#"><i class="icofont icofont-heart-alt"></i></a>
                                          <a href="#"><i class="icofont icofont-link-alt"></i></a>
                                      </div>
                                      <p>Creative Digital App</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 photography branding">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/2.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <a href="#"><i class="icofont icofont-heart-alt"></i></a>
                                          <a href="#"><i class="icofont icofont-link-alt"></i></a>
                                      </div>
                                      <p>Creative Digital App</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 webdesign photography">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/3.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <a href="#"><i class="icofont icofont-heart-alt"></i></a>
                                          <a href="#"><i class="icofont icofont-link-alt"></i></a>
                                      </div>
                                      <p>Creative Digital App</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 branding">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/4.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <a href="#"><i class="icofont icofont-heart-alt"></i></a>
                                          <a href="#"><i class="icofont icofont-link-alt"></i></a>
                                      </div>
                                      <p>Creative Digital App</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 video webdesign">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/6.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <a href="#"><i class="icofont icofont-heart-alt"></i></a>
                                          <a href="#"><i class="icofont icofont-link-alt"></i></a>
                                      </div>
                                      <p>Creative Digital App</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
                  <!-- Start single portfolio -->
                  <div class="pro-item col-md-4 col-sm-6 col-lg-4 col-xs-12 photography">
                      <div class="cx-portfolio">
                          <div class="cx-port-front">
                              <a href="#">
                                  <img src="../../Content/images/portfolio/5.jpg" alt="port img">
                              </a>
                          </div>
                          <div class="cx-port-back">
                              <div class="cx-port-arrow">
                                  <div class="cx-port-inner">
                                      <div class="cx-port-action">
                                          <a href="#"><i class="icofont icofont-heart-alt"></i></a>
                                          <a href="#"><i class="icofont icofont-link-alt"></i></a>
                                      </div>
                                      <p>Creative Digital App</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End single portfolio -->
              </div>
          </div>
      </div>
  </section>
